.booksMain {
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.booksRow1 {
    display: flex;
    flex-direction: row;
    width: 400px;
    margin-bottom: 8px;
    cursor: pointer;
    overflow-x: auto;
    width: 360px;
}
.booksRow2 {
    display: flex;
    flex-direction: row;
    width: 400px;
    margin-bottom: 8px;
    cursor: pointer;
    overflow-x: auto;
    width: 360px;
}

.booksImg {
    margin-right: 8px;
    filter: grayscale(100%);
}

.included {
    filter: none;
}