.slideMain {
    display: flex;
    flex-direction: column;
    width: 368px;
    border-radius: 12px;
    padding: 24px 16px 0px;
    box-sizing: border-box;
    text-align: center;
    margin: 8px 0px;
}

.slideTopic {
    font-size: 28px;
    font-weight: bold;
    margin: 8px 0px;
}
.slideParagraph {
    margin: 8px 0px;
}
.slideContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Fifth Slide */
.fifthMain {
    background-color: rgba(255, 51, 51, 0.1);
    height: 564px;
    border: 1px solid rgba(255, 51, 51, 0.1);;
}

.fifthTopic {
    margin: 0px;
}

.fifthSlideTogger {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 336px;
    height: 56px;
    margin-top: 10px;
}

.fifthSlideButton{
    position: relative;
    display: block;
    width: 116px;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: 0.5s;
    border-radius: 40px;
    cursor: pointer;
}
.fifthSlideButtonIndicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 58px;
    height: 54px;
    background: linear-gradient(to bottom, #0066FF, #0066FF);
    border-radius: 50%;
    transform: scale(0.9);
    transition: 0.5s;
}
.fifthSlideButtonActive {
    background: black;
}

.fifthSlideImg {
    margin-top: 30px;
}

.toggleFirstPic {
    position: absolute;
    z-index: 1;
    margin-left: 20px;
    margin-top: 18px;
}
.toggleSecondtPic {
    position: absolute;
    z-index: 1;
    margin-left: -38px;
    margin-top: 20px;
}

/* Sixth Slide */
.sixthMain {
    background-color: #E6E9F5;
    height: 1106px;
    border: 1px solid rgba(0, 102, 255, 0.2);
}

.sixthSlideTopic{
    margin: 0px;
}

.sixthSlideSpan {
    color: blue;
}

.sixthSlideComment {
    margin-bottom: 16px;
}
.sixthSlideRating {
    width: 150px;
    margin-right: 12px;
    margin-left: 5px;
}

/* Seventh Slide */ 
.seventhMain {
    background-color: #FFFFFF;
    height: 240px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: start;
}

.seventhSlideTopic{
    margin-top: 20px;
    margin-bottom: 0px;
}

.seventhSlideFirstImg {
    width: 132px;
    height: 24px;
}
.seventhSlideSecondImg {
    width: 21px;
    height: 21px;
    margin-left: 5px;
    margin-right: 5px;
}